@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css";

.button{
  margin:18px;
}


ul{
  padding: 0;
  font-size: 24px
}

li {
  list-style-type: none;
  padding: 12px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

li:first-child{
  margin-top: 18px;
  border-top: 1px solid rgb(192, 192, 192)
}